@use 'global' as *;

.loading {
  display: none;
}

.loading__border {
  width: 0; /* 最初は幅0 */
  position: absolute;
  top: 50%;
  height: rem(1);
  background-color: #fff;
  z-index: 1000000;
}


.loading__img-top,
.loading__img-bottom {
  position: absolute;
  height: 50vh;
  width: 100%;
  aspect-ratio: 375/333.5;
  object-fit: cover;
  z-index: 100000;
  @include mq("md") {
    aspect-ratio: 1440/384;
  }
}

.loading__img-top img,
.loading__img-bottom img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  @include mq("md") {
    aspect-ratio: 1440/384;
  }

}
