@use "global" as *;

.news-card {
  background: $white;
  display: inline-block;
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(24);
  border: 1px solid var(--green2, #A9B5AA);
}

.news-card:nth-child(n+7) {
  display: none;
  @include mq('md') {
  display: inline-block;
  }
}

.news-card__img {
  overflow: hidden;
}

.news-card:hover .news-card__img img{
  transform: scale(1.2);
}


.news-card__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 308/235;
  object-fit: cover;
  transition: transform .4s;
}

.news-card__body {
  margin-top: rem(17);
}

.news-card__time {
  font-size: rem(14);
  font-family: $english-font-family;
  line-height: 1.5;
  color: $text-color;
}

.news-card__title {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.5;
  position: relative;
  color: $text-color;
}

.news-card-category {
  background-color: $accent-color;
  display: inline-block;
  font-size: rem(12);
  font-weight: 400;
  font-family: $english-font-family;
  color: #fff;
  line-height: 1.166;
  padding: rem(2) rem(19);
}

.news-card__text {
  margin-top: rem(20);
  font-size: rem(14);
  line-height: 1.5;
  color: $text-color;
  letter-spacing: 0;
  font-family: $base-font-family;
}

/* 最初の.news-card__text要素にのみmarginを0に設定 */
.news-cards__item:first-child .news-card__text {
  margin: rem(4);
}


