@use 'global' as *;

.page-company__inner {
  max-width: rem(600);
}

.page-company__profile {
  @include mq('md') {
  max-width: rem(700);
  margin: 0 auto;
  }
}

.page-company__access__map iframe {
    aspect-ratio: 345/200;
    height: 100%;
    object-fit: cover;
    width: 100%;
    @include mq('md') {
    aspect-ratio: 1080/360;
    }
}

.page-company__header {
  margin-top: rem(40);
  @include mq('md') {
  margin-top: rem(120);
  }
}

.page-company__access__map {
  margin-top: rem(16);
}